pandas
numpy
scipy
matplotlib
scikit-learn
optuna
jupyterlab
plotly
tqdm
shap
sweetviz
yellowbrick
pyproj
overpy
geojson
geopandas
fastkml 
shapely
seaborn
openpyxl
fsspec
statsmodels
powerlaw
oct2py
folium